.video-container {
  position: relative;
  overflow: hidden;
}

.video-background {
  width: 100%;
  height: 90vh; /* Adjust the height as needed */
  object-fit: cover; /* This will cover the whole area without changing aspect ratio */
  object-position: center top;
}


  
.video-title {
  position: absolute;
  top: 40vh; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for exact centering */
  color: white; /* Title color */
  text-align: center;
  text-shadow: 0.2em 0.2em 0.5em rgb(26, 31, 58);
  letter-spacing: 0.2em;
  z-index: 10; /* Ensure the title is above the video */
}

.video-container::after {
  
  content: "";
  display: block;
  background: url(/assets/header_tail.svg) no-repeat scroll;
  background-size: cover;
  height: 8vw;
  width: 100%;
  position: absolute;
  bottom: -1px;
}

.home-section-title {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  color: #064976;
}

.home-screenshot {
  height: 24rem;
}

.home-research-picture {
  height: 15rem;
}

.home-creative-master-picture {
  max-width: 500px;
  height: auto;
}

.home-card {
  height: 24rem;
}

.home-avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}